<!-- Top Components -->
<%- include ./partials/head.ejs %>
<%- include ./partials/header.ejs %>


<!-- Content Area -->
<main class="container" id="mainContent">
<h1><%= title %></h1>
</main> 


<!-- Bottom components -->
<%- include ./partials/scripts.ejs %>
<%- include ./partials/footer.ejs %>
<%- include ./partials/bottom.ejs %>