<!-- Top Components -->
<%- include ./partials/head.ejs %>
<%- include ./partials/header.ejs %>


<!-- Content Area -->
<main class="container" id="mainContent">

<% if (title == 'Home') { %>

 <%- include ./content/home.ejs %>

<% } else if(title == 'About') { %>

<%- include ./content/about.ejs %>

<% } else if(title == 'Contact') { %>

<%- include ./content/contact.ejs %>

<% } %>

</main> 


<!-- Bottom components -->
<%- include ./partials/scripts.ejs %>
<%- include ./partials/footer.ejs %>
<%- include ./partials/bottom.ejs %>